<<<<<<< HEAD
@import url(fonts/source-sans-pro/source-sans-pro.css);
@import url(fonts/source-code-pro/source-code-pro.css);

.documentation a {
  color: #1184CE;
}
=======
>>>>>>> code block, table, color

.documentation .suppress-p-margin p {
  margin:0;
}

.force-inline, .force-inline p {
  display: inline;
  color: #222;
}

.container-small {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}

.max-height-100 {
  max-height: 100%;
}

.fade {
  opacity:0.50;
}

.button-indent {
  padding: .25rem 1.5rem;
  font-size: 90%;
}

.force-inline * {
  display:inline;
}

<<<<<<< HEAD
section:target h3 {
  font-weight:700;
=======
section:target {
  background: #fcfbf2;
}

.documentation a:hover {
  text-decoration: none;
}

/*colors*/

.documentation {
  color: rgba(0,0,0,0.8);
}

.documentation a {
  color: #607D8B;
}

.bg-cloudy {
  background-color: rgba(0,0,0,0.04);
}

.documentation-sidebar a:active {
  background: #fcfbf2;
}


/*font*/

.documentation,
.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4,
.documentation h5,
.documentation h6 {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.documentation pre,
.documentation code,
.documentation samp {
  font-family: 'Source Code Pro', monospace;
  font-size: 90%;
}

/*content*/

.mb-description code {
  padding: 0.1rem 0.2rem;
  font-size: 0.9rem;
  background-color: rgba(0,0,0,0.06);
  border-radius: 2px;
  font-weight: bold;
}

.section-indent {
  border-left: 2px solid #eee;
}

.section-indent h2 {
  font-size: 1.3rem;
}

.section-indent section {
  margin: 2.8rem 0.6rem;
}


/*table style*/

.documentation td {
    padding: .8rem 1rem;
}

.documentation td >p {
  margin: 0;
}

.documentation tr:nth-child(even) {
  background-color: rgba(0,0,0,0.02);
}

.documentation th {
  padding: 1rem;
  background-color: rgba(0,0,0,0.06);
  border: none;
}


/*code sample*/

.documentation pre {
  background-color: #333333;
  color:#dfe0e6;
}
.example-header{
  padding: .02rem 1rem;
  color: rgba(0,0,0,0.3);
}

h1:hover .anchorjs-link,
h2:hover .anchorjs-link,
h3:hover .anchorjs-link,
h4:hover .anchorjs-link {
  opacity: 1;
}

.collapsible .collapser {
  display:none;
}

.collapsible:target .collapser {
  display: block;
}

.fix-3 {
  width: 25%;
  max-width: 244px;
}

@media (min-width: 52em) {
  .fix-margin-3 {
    margin-left: 25%;
  }
}
